<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  	<servers>
		<server>
			<id>central</id>
			<username>Kj1KOG</username>
			<password>SDPTdxTOOIPjJbFsx1RBQrW9Svqwe0YRU</password>
		</server>
	</servers>

	<profiles>
    <profile>
      <id>central</id>
		  <properties>
		  	<gpg.executable>gpg2</gpg.executable>
		    <gpg.useagent>true</gpg.useagent>
		    <bestPractices>true</bestPractices>
		  </properties>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
    </profile>
  </profiles>

</settings>