<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="10">
	<CustomLevels>
	    <CustomLevel name="SUCCESS" intLevel="250" />
	    <CustomLevel name="NOTICE" intLevel="350" />
	    <CustomLevel name="CACHE" intLevel="450" />
	</CustomLevels>
    <Appenders>
        <Console name="Console">
            <PatternLayout disableAnsi="false" pattern="%highlight{%d{dd-MM-yyyy HH:mm:ss} [%t] %-5level: %msg%n%throwable}{FATAL=bright_red blink, ERROR=bright_red, SUCCESS=bright_green, WARN=bright_yellow, INFO=white, NOTICE=bright_cyan, CACHE=bright_black, DEBUG=bright_blue, TRACE=bright_magenta}"/>
        </Console>
    </Appenders>
     <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
